@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@500;600&family=Roboto+Mono:wght@300;500;600;700&family=Roboto:wght@400;700&display=swap");

$RobotoMono: "Roboto Mono", sans-serif;
$Eczar: "Eczar", serif;
$Roboto: "Roboto", sans-serif;

//colors

$primary: #343541;
$secondaryOrange: #f47073;
$primaryRed: #ec1115;
$secondaryRed: #a60c0e;

$gray300: #f7f7f7;
$gray500: #e5e5e5;
$gray700: #292a33;

$validMessageColor: #27ae60;
